.env
.env.test

harjoitustyo/.pytest_cache
harjoitustyo/src/.pytest_cache
harjoitustyo/src/__pycache__

harjoitustyo/src/entities/__init__.pyc
harjoitustyo/src/entities/snake.pyc
harjoitustyo/src/entities/apple.pyc

harjoitustyo/src/services/__init__.pyc
harjoitustyo/src/services/gameboard.pyc
harjoitustyo/src/services/__pycache__


harjoitustyo/src/tests/__init__.pyc
harjoitustyo/src/tests/__pycache__
harjoitustyo/src/tests/entities/__init__.pyc
harjoitustyo/src/tests/entities/__pycache__
harjoitustyo/src/tests/repositories/__pycache__
harjoitustyo/src/tests/repositories/__init_.pyc
harjoitustyo/src/tests/repositories/.hypothesis
harjoitustyo/src/tests/repositories/.pytest_cache
harjoitustyo/src/tests/services/__init__.pyc
harjoitustyo/src/tests/services/__pycache__


harjoitustyo/src/ui/__pycache__

laskarit/viikko2/maksukortti/.pytest_cache
laskarit/viikko2/maksukortti/src/.pytest_cache
laskarit/viikko2/maksukortti/src/tests/__pycache__
laskarit/viikko2/maksukortti/src/tests/.hypothesis
laskarit/viikko2/maksukortti/src/tests/.pytest_cache

htmlcov
__pycache__
.coverage
.pylintrc
.pytest_cache
.idea

points.pyc
leaderboard.db