./.pytest_cache
./src/.pytest_cache
./src/__pycache__
./src/initialize_database.pyc
./src/database_connection.pyc

./src/entities/__init__.pyc
./src/entities/snake.pyc
./src/entities/apple.pyc

./src/services/__init__.pyc
./src/services/gameboard.pyc
./src/services/__pycache__
./src/services/points.pyc
./src/services/clock.pyv
./src/services/game.pyc

./src/repositories/leaderboard_repository.pyc
./src/repositories/__pycache__
./src/repositories/__init_.pyc


./src/tests/__init__.pyc
./src/tests/__pycache__
./src/tests/entities/__init__.pyc
./src/tests/entities/__pycache__
./src/tests/repositories/__pycache__
./src/tests/repositories/__init_.pyc
./src/tests/repositories/.hypothesis
./src/tests/repositories/.pytest_cache
./src/tests/services/__init__.pyc
./src/tests/services/__pycache__

./src/ui/__pycache__

laskarit/viikko2/maksukortti/.pytest_cache
laskarit/viikko2/maksukortti/src/.pytest_cache
laskarit/viikko2/maksukortti/src/tests/__pycache__
laskarit/viikko2/maksukortti/src/tests/.hypothesis
laskarit/viikko2/maksukortti/src/tests/.pytest_cache

htmlcov
__pycache__
.coverage
.pylintrc
.pytest_cache
.idea
laskarit/.idea

points.pyc
leaderboard.db
fake_leaderboard.db